 body{
          background-color: rgb(237, 240, 240);
          display: flex;
          align-items: center;
          justify-content: center;  
        }
        .main{
            border-radius: 10%;
            padding:30px;
            background-color: rgb(208, 102, 15);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
           
            gap: 15px;
        }
        button{
            height: 30px;
            width: 100px;
            border-radius: 100px;
            padding: 30px;
        }
        input{
            padding:20px;
            width:250px;
            border-radius:100px;
        }