.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.column {
    flex-direction: column;
}

.w-100 {
    width: 100%;
}


.w-60 {
    width: 60%;
}

.w-80 {
    width: 80%;
}

