section.temp{
    background-color: red;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
 background: #dbd712;   
 width: 80%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column
}
.box{
    background-color: #12db19;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
}



@media (min-width:768px) {
    .container{
        flex-direction: row;
    }
    .box{
        width: 50%;
    }
    
}