@font-face {
    font-family: "myfont";
    src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf');
}

*{
    font-family: "myfont";
    font-weight: 700;
    color:  #01304c;
    font-size: 15px;
   
}
:root {
    --onclick-box: hsl(61, 70%, 52%);
    --offclick-box: #e4f4fd;
    --border-clr:#01304c;
}

body {
    height: 100vh;
    background-color: hsl(202, 86%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #ffffff;
    border-radius: 10px;
  
}

.box {
    background-color: #ffffff;
}

.heading{
    justify-content: space-between;
    align-items: center;
}
.first{
    border-radius: 10px 0 0 10px ;
}

.arranger {
    display: flex;              
    align-items: center;        
    width: 100%;
}

.inputs {
    font-size: 15px;
}

.interest , .repayment{
    width: 100%;
    border: 1px solid #01304c;
    background-color: #e4f4fd;
    margin: 5px;
    padding: 5px 0px;
}


#rupe,#rupe2,#rupe3 {
    flex: 1;                
    padding: 10px 12px;  
    border: none;       
    border-top: 1px solid var(--border-clr);
    border-bottom: 1px solid var(--border-clr);
    border-left: 1px solid var(--border-clr);
    outline: none;
    font-size: 16px;
    border-radius: 10px 0 0 10px;
}
#rupe{
    border-left: none;
    border-right: 1px solid var(--border-clr);
    border-radius: 0 10px 10px 0 !important;
}

.submit{
    width: 50%;
    background-color: #dbd712;
    color: #01304c;
    border-radius: 10px;
    border: 1px solid #01304c;
    margin:15px ;
}

#ico,#ico2,#ico3 {
    padding: 8.5px 12px;         
    background-color: var(--offclick-box);
    font-size: 18px;
    border-top: 1px solid var(--border-clr);
    border-bottom: 1px solid var(--border-clr);
    border-right:1px solid var(--border-clr);
    border-radius: 0 10px 10px 0 ;
   
}

#ico{
      border-right:none;
      border-left: 1px solid var(--border-clr);
      border-radius: 10px 0 0 10px !important;
    
}

#rupe:focus,
#rupe2:focus,
#rupe3:focus {
    border: 1px solid var(--onclick-box);
}

.box.second {
    background-color: #133040;
    color: white;
    border-radius: 0 10px 10px 50px;
    
}

.res{
        width: 100% !important;
        font-size: 13px;
        font-weight: 700;
        color: #73a1bc;
    }

    .clear{
         font-size: 13px;
        font-weight: 700;
        color: #73a1bc;
        background-color: transparent;
        border: none;
        border-bottom: 1px dashed #73a1bc;
    }

/* responsive mobile view */
@media (min-width: 880px) {
    .container {
        display: flex;
        flex-direction: row !important;
    }
    .boxed{
        display: flex;
        flex-direction: column !important;
    
    }

    .boxed2{
        display: flex;
        flex-direction: row !important;

    }
    .box {
        width: 50%;
    }
    #ico2{
        margin-right: 10px;
    }
}



